
html { 
  font-family: sans-serif; 
  color: #333; 
}

body{
    align-items: center;
    max-width: 500px; 
    margin: 0 auto; 
    padding: 0 15px;
}


header {
    text-align: center;   
    margin-top: 5em;
    max-width: 500px;
    margin-left:0;
    padding-left:0; 
    
}


div, article { 
  padding: 10px; 
  margin: 5px; 
  border: 15px 
  solid #dedede; 
}

#div-head {
  background-color:darkkhaki;
}

 /* Include the padding and border in an element's total width and height  */
  * {
    box-sizing: border-box;
  }  
  
 
  
  /* set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
/* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #input-area {
    background-color:darkkhaki;
  }

  /* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* When clicked on, add a background color and strike out text  */
ul li.checked {
  background: #888;
  color:darkkhaki;
  text-decoration: line-through;
}

.line-through {
  background: #888;
  color:darkkhaki;
  text-decoration: line-through;
} 

/* ul li.line-through {
  background: #888;
  color:darkkhaki;
  text-decoration: line-through;
} */

/* // Add a "checked" mark when clicked on  */
/* ul li.line-through::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
} */

/* When clicked on, add a background color and strike out text  */
ul li.checked {
  background: #888;
  color:darkkhaki;
  text-decoration: line-through;
}

/* // Add a "checked" mark when clicked on  */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

